*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    max-width: 96%,

}
.card-area-start{
    background-color: blue;
    padding: 50px 0 50px;
}
.card{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap:20px;
}
.box{
    background-color:lime;
    border: 5px solid;
    padding: 40px;
    border-radius: 10px;

}

@media screen and (max-width: 1024px) {
    .card{
        grid-template-columns: repeat(4, 1fr);
    }
    
}


/* @media screen and(max-width: 968px){
    .card{
        grid-template-columns: repeat(4, 1fr);
    }
}



@media screen and(max-width: 768px){
    .card{
        grid-template-columns: repeat(3, 1fr);
    }
}



@media screen and(max-width:460px){
    .card{
        grid-template-columns: repeat(2, 1fr);
    }
} */














